name: Axon Brave Observability Pipeline

on:
  workflow_dispatch:
  push:
    branches:
      - 'main'
    tags:
      - "v*.*.*"
  pull_request:
    branches:
      - 'main'

permissions:
  contents: write
  pull-requests: write
  packages: write

jobs:
  gradle-pipeline:
    name: ▶️
    uses: intosoft-tm/github-actions-starter/.github/workflows/gradle.lib.yml@main
    secrets: inherit